.home {
  display: flex;
  justify-content: center;
  background: #f4f4f4;
  .home_content {
    display: flex;
    max-width: 1140px;
    width: 100%;
    margin-bottom: 69px;
    flex-direction: column;
  }
}
.block_login {
  display: flex;
  flex-direction: column;
  span {
  }
  .input {
    margin-top: 20px;
  }
}
.countries_content{
  display: flex;
  flex-wrap: wrap;
}
