.header {
  height: 264px;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  .header_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
  }
}
.header_conteiner {
  background-color: rgba(140, 139, 139, 0.8);
  height: 64px;
  width: 100%;
  position: absolute;
  .header_content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    height: 64px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    display: flex;
    .header_content_log {
      display: flex;
      height: 100%;
      margin-left: 15px;
      .logo_content {
        display: flex;
        cursor: pointer;
        align-items: center;
        a{
          text-decoration: none;
        }
        img {
          width: 60px;
          height: 60px;
        }
        div {
          font-size: 20px;
          line-height: 64px;
          font-weight: 900;
          color: white;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
    .header_content_menu {
      display: flex;
      a {
        text-decoration: none;
        font-size: 20px;
        line-height: 64px;
        font-weight: 900;
        color: #dadada;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
      }
      div:hover {
        color: #fafafa;
      }
    }
    .header_content_search {
      margin-left: auto;
      font-size: 22px;
      line-height: 50px;
      font-weight: 900;
      color: #dadada;
      order: 2;
      margin-right: 15px;
      display: flex;
      [class*="MuiFormControl-root"] {
        display: flex;
        justify-content: center;
      }
      .search_input {
        align-items: center;
        height: 100%;
        justify-content: space-evenly;
        display: flex;
        margin-left: 10px;
        [class*="MuiAutocomplete-root"] {
          width: 100% !important;
        }
      }
    }
  }
}
[class*="MuiOutlinedInput-adornedEnd"] {
  width: 500px;
}
.container_logo_title {
  display: flex;
}
@media screen and (max-width: 1000px) {
  .header {
    [class*="MuiFormControl-root"] {
      width: 100%;
    }
    [class*="MuiOutlinedInput-adornedEnd"] {
      width: 100%;
    }
    height: 325px;
    .header_conteiner {
      height: 130px;
      .header_content {
        flex-direction: column;
        .header_content_log{
          display: none;
        }
        .header_content_menu {
          justify-content: center;
          width: 100%;
        }
        .header_content_search {
          margin-left: 15px;
        }
      }
    }
  }
  .search_input{
    width: 100%;
  }
}
