.style_inpunt_and_selector {
  color: #dadada !important;
  outline: none;
  svg {
    color: #dadada !important;
  }
  fieldset {
    border-color: #dadada !important;
  }
  &[class*="Mui-focused"] {
    fieldset {
      border-color: #fafafa !important;
    }
  }
  label {
    color: #dadada;
    &[class*="Mui-focused"] {
      color: #fafafa ;
    }
  }
  input {
    color: #fafafa;
  }
}
.style_inpunt_and_selector:hover {
  fieldset {
    border-color: #fafafa !important;
  }
}
.iconSearch {
  color: "#dadada";
}
